:root {
  --color-main: #48c0b7;
  --color-bluegreen: #144056;
  --color-text-default: #000;
  --color-newstitle: #1d1d1d;
  --color-mykeyword-: #3b788b;
  --color-overline: #dfa19f;
  --color-newsdesciption: #7a7a7a;
  --color-subtitle: #2d2d2d;
}
  